body {
  background-image: url(nidhal.jpg)!important;
  background-repeat: no-repeat;
  background-size: cover;

}
.time-title {
  margin: 1em !important;
  
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif ;
  
}

.time-inner-container {
  display: inline-block;
}
.time-digits {
  font-size: 4em;
}
.time-text {
  display: flex;
  justify-content: space-around;
  color : white;
}
.time-container {
  margin: 2em !important;
}
.buttons  {
  margin-left: 4em !important;
}
.startButton {
  margin-left: 1em;
  background-color: grey;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 2em;
}
.resetButton {
  margin: 2em;
  background-color: grey;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 2em;
}
